.bodyMenu {
  font-family: Arial, sans-serif;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 45px;
}
.btz {
  width: 200px;
  height: 90px;
  flex-wrap: wrap;
  margin: 5px;
  font-size: 30px;
  display: inline;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(95, 92, 92);
}
a {
  text-decoration: none;
  color: #333;
}
.btz:hover {
  transform: scale(1.2, 1.2);
}
